{% extends 'base_lijing.html' %}

{% block title %}basic{% endblock %}



{% block content %}
<div class="jumbotron">
    <h1 id="jumbotron_string">教师基本信息</h1>
    <p class="lead">...</p>
</div>

<div id="success_info" class="alert alert-success alert-dismissible" style="display: none;">
    <strong id="success_msg"></strong>
</div>

<div class="row" id="search_bar">
    <div class="input-group mb-3 col-md-4">
        <div class="input-group-prepend">
            <label class="input-group-text" for="select_year">年份</label>
        </div>
        <select class="custom-select" id="select_year">
            {% for year in year_list %}
            <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="input-group mb-3 col-md-8">
        <div class="input-group-prepend">
            <select class="custom-select" id="search_select">
            </select>
        </div>
        <input type="text" class="form-control" aria-label="Text input with dropdown button" id="search_string">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="search_data()">搜索</button>
        </div>
    </div>
</div>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" id="toolbar">
    <div class="dropdown mr-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            功能
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="javascript:void(0)" onclick="show_add_modal()">添加</a>
            <a class="dropdown-item" href="javascript:void(0)" onclick="show_import_modal()">导入</a>
            <a class="dropdown-item" href="javascript:void(0)" onclick="show_export_modal()" id="export_button">导出</a>
        </div>
    </div>
    <div class="mr-2">
        <button id="origin_button" type="button" class="btn btn-secondary" onclick="show_origin_table()"
            style="display: none;">查看原表</button>
    </div>
</div>

<table id="table" class="table-striped" data-sortable="true"></table>

<div class="modal fade" id="detailModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title" id="detail_modal_title">基本信息</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="person_name">姓名*</label>
                            <input type="text" class="form-control" id="person_name" placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="gender">性别</label>
                            <input type="text" class="form-control" id="gender" placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="id_number">身份证号*</label>
                            <input type="text" class="form-control" id="id_number" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="time_work">参加工作时间</label>
                            <input type="text" class="form-control" id="time_work" placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="phone">联系电话</label>
                            <input type="text" class="form-control" id="phone" placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="political_status">政治面貌</label>
                            <input type="text" class="form-control" id="political_status" placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="time_Party">入党时间</label>
                            <input type="text" class="form-control" id="time_Party" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="edu_start">第一学历</label>
                            <input type="text" class="form-control" id="edu_start" placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="time_edu_start">毕业时间</label>
                            <input type="text" class="form-control" id="time_edu_start" placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="school_edu_start">毕业学校</label>
                            <input type="text" class="form-control" id="school_edu_start" placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="major_edu_start">专业</label>
                            <input type="text" class="form-control" id="major_edu_start" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="edu_end">最高学历</label>
                            <input type="text" class="form-control" id="edu_end" placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="time_edu_end">毕业时间</label>
                            <input type="text" class="form-control" id="time_edu_end" placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="school_edu_end">毕业学校</label>
                            <input type="text" class="form-control" id="school_edu_end" placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="major_edu_end">专业</label>
                            <input type="text" class="form-control" id="major_edu_end" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="skill_title">专业技术职称</label>
                            <input type="text" class="form-control" id="skill_title" placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="time_skill">取得时间</label>
                            <input type="text" class="form-control" id="time_skill" placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="skill_unit">发证单位</label>
                            <input type="text" class="form-control" id="skill_unit" placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="skill_number">发证文件批号</label>
                            <input type="text" class="form-control" id="skill_number" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="work_kind">用工性质</label>
                            <input type="text" class="form-control" id="work_kind" placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="job_post">工作岗位</label>
                            <input type="text" class="form-control" id="job_post" placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="time_school">调入大集中学时间</label>
                            <input type="text" class="form-control" id="time_school" placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="time_retire">退休时间</label>
                            <input type="text" class="form-control" id="time_retire" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address">住址</label>
                        <input type="text" class="form-control" id="address" placeholder="" readonly>
                    </div>
                    <div class="form-group">
                        <label for="resume">工作简历</label>
                        <textarea class="form-control" id="resume" rows="3" readonly></textarea>
                    </div>
                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">

                <button type="button" id="button_add" class="btn btn-primary" style="display: none;"
                    onclick="add_data()">添加</button>
                <button type="button" id="button_update" class="btn btn-primary" style="display: none;"
                    onclick="update_data()">修改</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="importModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title" id="modal-import-title">导入数据</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <form action="{{ url_for('lijing_basicinfo.importData') }}" enctype='multipart/form-Data' method='POST'>
                    <div class="alert alert-primary" role="alert">
                        请选择要导入的年份和Excel表格(.xlsx)
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">年份</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" name="year_select">
                            {% for year in year_list %}
                            {% if year != "暂无数据" %}
                            <option value="{{ year }}">{{ year }}</option>
                            {% endif %}
                            {% endfor %}
                            <option value="{{ year_new }}">{{ year_new }} （新增）</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <div class="custom-file">
                            <input onchange="showFilename(this.files[0])" type="file" class="custom-file-input"
                                id="inputGroupFile04" name="file" required>
                            <label id="filename_label" class="custom-file-label" for="inputGroupFile04">选择文件</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">导入</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button> -->
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exportModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title" id="modal-import-title">导出数据</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <div class="alert alert-primary" role="alert">
                    导出当前表格中教师基本信息数据：请选择要导出的项
                </div>
                <div id="radios"></div>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" id="export_all" class="btn btn-primary" onclick="export_all()">全选</button>
                <button type="button" id="export_table" class="btn btn-primary" onclick="export_table()">导出</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>

{% endblock %}


{% block javascript %}

<script type=text/javascript> $SCRIPT_ROOT={{ request.script_root|tojson|safe }}; </script>

<script src="../../static/js/basicInfo.js"></script>

{% endblock %}