{% extends 'base_lijing.html' %}

{% block title %}bonus{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 id="jumbotron_string">奖金统计</h1>
    <p class="lead">...</p>
</div>

<div class="card mb-3">
    <div class="card-header" data-toggle="collapse" data-target="#item_block">
        点击设置 <b>参数</b>
    </div>

    <div class="collapse" id="item_block">
        <form class="card-body">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="total">系数总和</label>
                    <input type="number" class="form-control" id="total" readonly>
                </div>
                <div class="form-group col-md-3">
                    <label for="chinese">语文系数</label>
                    <input type="number" class="form-control" id="chinese" onchange="add_total(this.id, this.value)">
                </div>
                <div class="form-group col-md-3">
                    <label for="math">数学系数</label>
                    <input type="number" class="form-control" id="math" onchange="add_total(this.id, this.value)">
                </div>
                <div class="form-group col-md-3">
                    <label for="english">英语系数</label>
                    <input type="number" class="form-control" id="english" onchange="add_total(this.id, this.value)">
                </div>
                <div class="form-group col-md-3">
                    <label for="wl">物理系数</label>
                    <input type="number" class="form-control" id="wl" onchange="add_total(this.id, this.value)">
                </div>
                <div class="form-group col-md-3">
                    <label for="hx">化学系数</label>
                    <input type="number" class="form-control" id="hx" onchange="add_total(this.id, this.value)">
                </div>
                <div class="form-group col-md-3">
                    <label for="zz">政治系数</label>
                    <input type="number" class="form-control" id="zz" onchange="add_total(this.id, this.value)">
                </div>
                <div class="form-group col-md-3">
                    <label for="ls">历史系数</label>
                    <input type="number" class="form-control" id="ls" onchange="add_total(this.id, this.value)">
                </div>
                <div class="form-group col-md-3">
                    <label for="dl">地理系数</label>
                    <input type="number" class="form-control" id="dl" onchange="add_total(this.id, this.value)">
                </div>
                <div class="form-group col-md-3">
                    <label for="sw">生物系数</label>
                    <input type="number" class="form-control" id="sw" onchange="add_total(this.id, this.value)">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="class1">一类尖子生个数</label>
                    <input type="number" class="form-control" id="class1">
                </div>
                <div class="form-group col-md-4">
                    <label for="bonus1">奖金</label>
                    <input type="number" class="form-control" id="bonus1">
                </div>
                <div class="form-group col-md-4">
                    <label for="ebonus1">额外奖金</label>
                    <input type="number" class="form-control" id="ebonus1">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="class2">二类尖子生个数</label>
                    <input type="number" class="form-control" id="class2">
                </div>
                <div class="form-group col-md-4">
                    <label for="bonus2">奖金</label>
                    <input type="number" class="form-control" id="bonus2">
                </div>
                <div class="form-group col-md-4">
                    <label for="ebonus2">额外奖金</label>
                    <input type="number" class="form-control" id="ebonus2">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="bonus_average">平均分奖金</label>
                    <input type="number" class="form-control" id="bonus_average" placeholder="">
                </div>
                <div class="form-group col-md-6">
                    <label for="bonus3">额外奖金</label>
                    <input type="number" class="form-control" id="bonus3">
                </div>
            </div>

        </form>


        <div class="card-footer" data-toggle="collapse" data-target="#item_block">
            点击 <b>收起</b>
        </div>
    </div>
</div>

<div class="alert alert-primary" role="alert">
    点击 <b>输入框</b> 选择要导入的Excel表格(.xlsx)，点击按钮 <b>开始统计</b> 进行奖金统计。
</div>

<div class="row mb-3">
    <div class="col-md-3"></div>

    <div class="col-md-6 input-group mb-3">
        <div class="custom-file">
            <form action="{{ url_for('lijing_workinfo.importData') }}" enctype='multipart/form-Data' method='POST'
                id="readfile_form">
                <input onchange="showFilename(this.files[0])" type="file" class="custom-file-input" id="input_file"
                    name="file" required>
                <label id="filename_label" class="custom-file-label" for="input_file">选择文件</label>
            </form>
        </div>
        <div class="input-group-append">
            <button class="btn btn-primary" id="button_readfile" onclick="read_file()">开始统计</button>
        </div>
    </div>

    <div class="col-md-3"></div>
</div>

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">日志输出：</span>
    </div>
    <textarea class="form-control" rows="10" aria-label="With textarea" id="log" readonly></textarea>
</div>

{% endblock content %}


{% block javascript %}

<script type=text/javascript> $SCRIPT_ROOT={{ request.script_root|tojson|safe }}; </script>

<script src="../../static/js/bonus_calculator.js"></script>

{% endblock %}