{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}lijing{% endblock %}</h1>
{% endblock %}


{% block tools %}

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action list-group-item-dark" data-toggle="collapse"
        data-target="#demo">教师管理</a>
    <div class="list-group collapse" id="demo">
        <a href="{{ url_for('lijing.basicInfo') }}" class="list-group-item list-group-item-action">1.教师基本信息</a>
        <a href="#" class="list-group-item list-group-item-action">2.教师业务档案</a>
        <a href="#" class="list-group-item list-group-item-action">3.教师荣誉档案</a>
    </div>
    <a href="#" class="list-group-item list-group-item-action">模块二</a>
    <a href="#" class="list-group-item list-group-item-action">模块三</a>
</div>

{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>Hello, lijing!</h1>
    <p>...</p>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
</div>

{% endblock %}