{% extends 'base_lijing.html' %}

{% block title %}honor{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 id="jumbotron_string">教师荣誉档案</h1>
    <p class="lead">...</p>
</div>

<div id="success_info" class="alert alert-success alert-dismissible" style="display: none;">
    <strong id="success_msg"></strong>
</div>

<div class="row" id="search_bar">
    <div class="input-group mb-3 col-md-4">
        <div class="input-group-prepend">
            <label class="input-group-text" for="select_year">年份</label>
        </div>
        <select class="custom-select" id="select_year">
            {% for year in year_list %}
            <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="input-group mb-3 col-md-8">
        <div class="input-group-prepend">
            <select class="custom-select" id="search_select">
            </select>
        </div>
        <input type="text" class="form-control" aria-label="Text input with dropdown button" id="search_string">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="search_data()">搜索</button>
        </div>
    </div>
</div>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" id="toolbar">
    <div class="dropdown mr-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            功能
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="javascript:void(0)" onclick="show_add_modal()">添加</a>
            <a class="dropdown-item" href="javascript:void(0)" onclick="show_import_modal()">导入</a>
            <a class="dropdown-item" href="javascript:void(0)" onclick="show_export_modal()">导出</a>
        </div>
    </div>
    <div class="mr-2">
        <button id="origin_button" type="button" class="btn btn-secondary" onclick="show_origin_table()"
            style="display: none;">查看原表</button>
    </div>
</div>

<table id="table" class="table-striped" data-sortable="true"></table>

<div class="modal fade" id="detailModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title" id="detail_modal_title">荣誉档案</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">

                <div id="honor_list"></div>

                <div class="card" id="honor_add" style="display: none;">
                    <div class="card-header">
                        新增
                    </div>
                    <div class="card-body">
                        <form action="{{ url_for('lijing_honorinfo.add_data') }}" method='post'>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="person_name_add">获奖教师姓名</label>
                                </div>
                                <input type="text" class="form-control" placeholder="" id="person_name_add"
                                    name="person_name" required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit">添加</button>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label for="honor_name_add">获奖名称</label>
                                    <input type="text" class="form-control" id="honor_name_add" name="honor_name"
                                        placeholder="">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="honor_grade_add">证书级别</label>
                                    <input type="text" class="form-control" id="honor_grade_add" name="honor_grade"
                                        placeholder="">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="honor_time_add">发证时间</label>
                                    <input type="text" class="form-control" id="honor_time_add" name="honor_time"
                                        placeholder="">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="honor_number_add">证书编号</label>
                                    <input type="text" class="form-control" id="honor_number_add" name="honor_number"
                                        placeholder="">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="honor_unit_add">发证单位</label>
                                    <input type="text" class="form-control" id="honor_unit_add" name="honor_unit"
                                        placeholder="">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="get_time_add">获奖时间</label>
                                    <input type="text" class="form-control" id="get_time_add" name="get_time"
                                        placeholder="">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="school_name_add">获奖时所在分校</label>
                                    <input type="text" class="form-control" id="school_name_add" name="school_name"
                                        placeholder="">
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="honor_remark_add">备注</label>
                                    <input type="text" class="form-control" id="honor_remark_add" name="honor_remark"
                                        placeholder="">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- <div class="dropdown-divider"></div> -->

            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" id="button_update" class="btn btn-primary" style="display: none;"
                    onclick="update_data()">修改</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="importModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title" id="modal-import-title">导入数据</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <form action="{{ url_for('lijing_honorinfo.importData') }}" enctype='multipart/form-Data' method='POST'>
                    <div class="alert alert-primary" role="alert">
                        请选择要导入的Excel表格(.xlsx)
                    </div>
                    <!-- <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">年份</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" name="year_select">
                            {% for year in year_list %}
                            {% if year != "暂无数据" %}
                            <option value="{{ year }}">{{ year }}</option>
                            {% endif %}
                            {% endfor %}
                            <option value="{{ year_new }}">{{ year_new }} （新增）</option>
                        </select>
                    </div> -->
                    <div class="input-group">
                        <div class="custom-file">
                            <input onchange="showFilename(this.files[0])" type="file" class="custom-file-input"
                                id="inputGroupFile04" name="file" required>
                            <label id="filename_label" class="custom-file-label" for="inputGroupFile04">选择文件</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">导入</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button> -->
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exportModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title" id="modal-import-title">导出数据</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <div class="alert alert-primary" role="alert">
                    正在导出 <span id="export_string"></span> 条表格数据到excel文件，请稍等。
                </div>
                <!-- <div id="radios"></div> -->
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <!-- <button type="button" id="export_table" class="btn btn-primary" onclick="export_table()">导出</button> -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>

{% endblock %}


{% block javascript %}
<script type=text/javascript> $SCRIPT_ROOT={{ request.script_root|tojson|safe }}; </script>

<script src="../../static/js/honorInfo.js"></script>

{% endblock %}