{% extends 'base_lijing.html' %}

{% block title %}search{% endblock %}

{% block content %}
<h1>数据检索</h1>
<hr>

<div class="row" id="search_bar">
    <div class="input-group mb-3 col-md-5">
        <div class="input-group-prepend">
            <label class="input-group-text" for="select_year">年份</label>
        </div>
        <select class="custom-select" id="select_year">
            {% for year in year_list %}
            <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2"></div>
    <div class="input-group mb-3 col-md-5">
        <div class="input-group-prepend">
            <label class="input-group-text" for="search_school_select">分校</label>
        </div>
        <select class="custom-select" id="search_school_select">
            <option>全部数据</option>
            {% for school in school_list %}
            <option>{{ school }}</option>
            {% endfor %}
        </select>
    </div>

</div>

<br>

<div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#select_item_block">
        点击选择 <b>查询项目</b>
    </div>
    <div class="collapse" id="select_item_block">
        <div class="card-body">
            <h5>个人信息</h5>
            <div id="select_item_person"></div>
            <hr>
            <h5>学历信息</h5>
            <div id="select_item_education"></div>
            <hr>
            <h5>职称信息</h5>
            <div id="select_item_skill"></div>
            <hr>
            <h5>工作信息</h5>
            <div id="select_item_workinfo"></div>
            <hr>
            <h5>职务</h5>
            <div id="select_item_job"></div>
            <hr>
            <h5>班级</h5>
            <div id="select_item_class"></div>
            <hr>
            <h5>任课信息</h5>
            <div id="select_item_workload"></div>
            <hr>
            <h5>荣誉信息</h5>
            <div id="select_item_honor"></div>
        </div>

        <div class="card-footer" data-toggle="collapse" data-target="#select_item_block">
            点击 <b>收起</b>
        </div>
    </div>

</div>

<hr>
<br>

<div id="select_block">
    <div class="row mb-3">
        <div class="input-group mb-3 col-md-10">
            <div class="input-group-prepend">
                <select class="custom-select" id="table_select_0" onchange="change_item(this.id)">
                    <option value="None">待选择</option>

                </select>

            </div>

            <div class="input-group-prepend">
                <select class="custom-select" id="item_select_0" onchange="enable_input(this.id)">
                    <option value="None">待选择</option>

                </select>
            </div>

            <input type="text" class="form-control" aria-label="Text input with dropdown button" id="search_string_0"
                placeholder="**请选择要查询的项**" readonly>

        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-success" onclick="add_search()" id="button_add_0">新增</button>
        </div>
    </div>


</div>

<br>
<hr>

<div class="row">
    <div class="col-md-5"></div>
    <button class="btn btn-primary col-md-2" onclick="search_data()">查询</button>
    <div class="col-md-5"></div>
</div>

<br>
{% endblock %}



{% block javascript %}
<script type=text/javascript> $SCRIPT_ROOT={{ request.script_root|tojson|safe }}; </script>

<script src="../../static/js/serach.js"></script>
{% endblock %}