{% extends 'base_lijing.html' %}

{% block title %}work{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 id="jumbotron_string">教师业务档案</h1>
    <p class="lead">...</p>
</div>

<div id="success_info" class="alert alert-success alert-dismissible" style="display: none;">
    <strong id="success_msg"></strong>
</div>

<div class="row" id="search_bar">
    <div class="input-group mb-3 col-md-4">
        <div class="input-group-prepend">
            <label class="input-group-text" for="select_year">年份</label>
        </div>
        <select class="custom-select" id="select_year">
            {% for year in year_list %}
            <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="input-group mb-3 col-md-8">
        <div class="input-group-prepend">
            <select class="custom-select" id="search_school_select">
                <option>全部数据</option>
                {% for school in school_list %}
                <option>{{ school }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="input-group-prepend">
            <select class="custom-select" id="search_select">
            </select>
        </div>
        <input type="text" class="form-control" aria-label="Text input with dropdown button" id="search_string">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="search_data()">搜索</button>
        </div>
    </div>
</div>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" id="toolbar">
    <div class="dropdown mr-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            功能
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="javascript:void(0)" onclick="show_school_class()">分校班级</a>
            <a class="dropdown-item" href="javascript:void(0)" onclick="show_import_modal()">导入数据</a>
            <a class="dropdown-item" href="javascript:void(0)" onclick="show_export_modal()" id="export_button">导出数据</a>
        </div>
    </div>
    <div class="mr-2">
        <button id="origin_button" type="button" class="btn btn-secondary" onclick="show_origin_table()"
            style="display: none;">查看原表</button>
    </div>
</div>

<table id="table" class="table-striped" data-sortable="true"></table>

<div class="modal fade" id="detailModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title" id="detail_modal_title">业务档案</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="person_name">姓名*</label>
                            <input type="text" class="form-control" id="person_name" placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="school_name">所在分校</label>
                            <input type="text" class="form-control" id="school_name" placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="job_name">行政职务</label>
                            <input type="text" class="form-control" id="job_name" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="lesson_number">总课时数</label>
                            <input type="text" class="form-control" id="lesson_number" placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="year_result">年度考核</label>
                            <input type="text" class="form-control" id="year_result" placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="class_master">是否班主任</label>
                            <input type="text" class="form-control" id="class_master" placeholder="" readonly>
                        </div>
                    </div>
                    <div id="rank_form"></div>
                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" id="update_data" class="btn btn-primary" style="display: none;"
                    onclick="update_data()">更新</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="school_classModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title" id="modal-import-title">分校班级</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <div class="card mb-3">
                    <div class="card-header">
                        新增
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="school_string">新分校名称</label>
                            </div>
                            <input type="text" class="form-control" aria-label="Default"
                                aria-describedby="inputGroup-sizing-default" id="school_string">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button"
                                    onclick="add_school()">添加学校</button>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <select class="custom-select" id="school_select">
                                    {% for school in school_list %}
                                    <option>{{ school }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                            <input type="text" class="form-control" aria-label="Text input with dropdown button"
                                placeholder="新班级名称" id="class_string">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button"
                                placeholder="班主任姓名" id="person_string">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button"
                                    onclick="add_class()">添加班级</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        现有分校列表
                    </div>
                    <div class="card-body" id="school_card">
                        {% for school in school_list %}
                        <div class="card mb-3 text-center">
                            <div class="card-header" data-toggle="collapse"
                                data-target="{{'#class_list_' ~ loop.index|string }}">
                                {{ school }}
                                <span class="badge badge-primary badge-pill">{{ class_list[school] | length }}</span>
                            </div>
                            <ul class="list-group list-group-flush collapse" id="{{'class_list_' ~ loop.index }}">
                                {% if class_list[school] | length == 0 %}
                                <li class="list-group-item">暂无班级数据</li>
                                {% else %}
                                {% for class in class_list[school] %}
                                <li class="list-group-item">{{ class }}</li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                        {% endfor %}

                        <!-- <div class="card" style="width: 18rem;">
                            <div class="card-header" data-toggle="collapse" data-target="#test">
                                三分校
                            </div>
                            <ul class="list-group list-group-flush collapse" id="test">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div> -->
                        <!-- <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>


                <div class="card mb-3">
                    <div class="card-header">
                        删除
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="school_string_del">分校名称</label>
                            </div>
                            <input type="text" class="form-control" aria-label="Default"
                                aria-describedby="inputGroup-sizing-default" id="school_string_del">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button"
                                    onclick="del_school()">删除分校</button>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <select class="custom-select" id="school_select_del">
                                    {% for school in school_list %}
                                    <option>{{ school }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                            <input type="text" class="form-control" aria-label="Text input with dropdown button"
                                placeholder="班级名称" id="class_string_del">

                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button"
                                    onclick="del_class()">删除班级</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="importModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title" id="modal-import-title">导入数据</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <div class="alert alert-primary" role="alert">
                    请选择要导入的Excel表格(.xlsx)
                </div>
                <!-- <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">年份</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" name="year_select">

                        {% for year in year_list %}
                        {% if year != "暂无数据" %}
                        <option value="{{ year }}">{{ year }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div> -->

                <div class="input-group mb-3">
                    <div class="custom-file">
                        <form action="{{ url_for('lijing_workinfo.importData') }}" enctype='multipart/form-Data'
                            method='POST' id="readfile_form">
                            <input onchange="showFilename(this.files[0])" type="file" class="custom-file-input"
                                id="input_file" name="file" required>
                            <label id="filename_label" class="custom-file-label" for="input_file">选择文件</label>
                        </form>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-primary" id="button_readfile" onclick="read_file()">读取数据</button>
                    </div>
                </div>

                <div class="card bg-light mb-3 text-center" id="select_card">
                    <div class="card-header"></div>
                    <div class="card-body">
                        <h5 class="card-title">选择需要导入的数据</h5>
                        <p class="card-text" id="card_text">表格中包含有 多 列数据</p>
                        <div class="alert alert-info" role="alert">
                            姓名为必须导入的数据列。
                        </div>
                        <div id="title_select_card">
                            <!-- <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect_name">姓名11</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect_name" name="title_select">
                                </select>
                            </div> -->
                        </div>

                        <div class="row">
                            <div class="col-md-5"></div>
                            <!-- <button class="btn btn-primary col-md-2"
                                onclick="javascript:document.getElementById('readfile_form').submit()">导入</button> -->
                            <button class="btn btn-primary col-md-2" onclick="import_data()">导入</button>
                            <div class="col-md-5"></div>
                        </div>

                    </div>
                </div>

            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exportModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title" id="modal-import-title">导出数据</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <div class="alert alert-primary" role="alert">
                    正在导出 <span id="export_string"></span> 条表格数据到excel文件，请稍等。
                </div>
                <!-- <div id="radios"></div> -->
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <!-- <button type="button" id="add_person" class="btn btn-primary" onclick="export_table()">导出</button> -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>

{% endblock %}


{% block javascript %}
<script type=text/javascript> $SCRIPT_ROOT={{ request.script_root|tojson|safe }}; </script>

<script src="../../static/js/workInfo.js"></script>
{% endblock %}